@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.ttf), 
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.woff),
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.woff2);
  }

  @font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.ttf), 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.woff),
      
          url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.woff2);
  }

  @font-face {
    font-family: 'roboto-light';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.ttf), 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.woff),
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.woff2);
  }

  @font-face {
    font-family: 'forum-regular';
    font-style: normal;
    font-weight: normal;
    src: url(.//assets/fonts/Forum-Regular.ttf);
  }
 
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.heading-indent {
    padding-top: 75px;
  }

  .gold {
    color:#9D8665;
  }

  .white {
      color: #FFFFFF;
  }

.marg-bt-15 {
    margin-bottom: 15px;
}

.marg-bt-25 {
    margin-bottom: 25px;
}

.marg-bt-50 {
    margin-bottom: 50px;
}

.marg-bt-60 {
    margin-bottom: 60px;
}

.marg-bt-24 {
    margin-bottom: 24px;
}

.mrg-bt-75 {
    margin-bottom: 75px;
}

/*HEADER START*/
.header {
    height: 150px;
    background: #030303;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 59px;
}

.container-logo {
    display: flex;
    gap: 21px;
}

.text-logo {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-logo:hover {
    opacity: .75;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.nav-links {
    font-family: roboto-light;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-links:hover {
    opacity: .75;
}

.burger-menu {
    display: none;
}
/*HEADER STOP*/


/*WELCOME START*/
#welcome {
    background: #030303;
    height: 810px;
}

.welcome-container {
    height: 810px;
}

.welcome-title-and-button {
    position: relative;
    padding-top: 150px;
    z-index: 20;
}

.welcome-title-none-button {
    display: none;
}

.welcome-none {
    display: none;
}

.welcRed {
    position: relative;
    top: 348px;
    height: 375px;
}

.welcome-social-network {
    gap: 21px;
    position: relative;
    top: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-network {
    width: 100%;
    height: 0px;
    background: #FFFFFF;
}

.welcome-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: inherit;
    font-size: 80px;
    line-height: 90px;  
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-subtitle {
    font-family: roboto-light;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: none;
    padding-top: 25px;
    margin-bottom: 75px;
    color: #FFFFFF
}

.discover-button {
    width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    border: 0;
    font-family: roboto-light;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF
}

.discover-button:hover {
    opacity: .75;
}

.welcome-pictures {
    margin-left: auto;
}

.welcome-gallery {
    position: relative;
    top: 350px;
    display: grid;
   /* grid-template-columns: repeat(2,1fr);*/
    grid-gap: 20px;
}

.welcome-gallery-second {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

/*WELCOME SLIDER*/
    .welcome-slider {
        overflow-y: hidden;
        position: absolute;
        width: 1000px;
        height: 810px;
        right: 0;
        margin: 0px 20px 0px 0px;
    }

    .slider-in-welcome {
        overflow: hidden;
    }

    .slider-in-welcome .slick-list {
        width: 100%;
    }

    .slider-in-welcome .slick-track {
        display: flex;
    }

    .slider-in-welcome .slider-item {
       visibility: hidden;
    }

    .slick-slide.slick-active {
        visibility: inherit;
    }

    .slider-in-welcome .slick-arrow {
        position: absolute;
        z-index: 228;
        font-size: 0;
        width: 30px;
        height: 8px;
        bottom: 52px;
        border: 0;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-prev {
        right: 70px;
        background: url("./assets/img/welcome-slider/left←.svg") 0 0 / 100% no-repeat;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-next {
        right: 20px;
        background: url("./assets/img/welcome-slider/right←.svg") 0 0 / 100% no-repeat;
    }

    .slider-in-welcome .slick-dots {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 600px;
        height: 120px;
        display: flex;
        align-items: center;
        /*justify-content: center;*/
        background:#030303;
        z-index: 23;
    }

    .slider-in-welcome .slick-dots li {
        position: relative;
        left: 215px;
        list-style: none;
        margin: 0 25px 0 0;
    }

    .slider-in-welcome .slick-dots button {
        font-size: 0;
        width: 16px;
        height: 16px;
        border: 0;
    }
    
    .slider-in-welcome .slick-dots li.slick-active button {
        background: #D2B183;
    }

    .count {
        position: absolute;
        right: 450px;
        bottom: 36px;
        font-family: Roboto;
        line-height: 40px;
        color: #FFFFFF;
        z-index: 40;
    }

    .slid-pic {
        right: 501px;
    }

    .elem-stick {
        right: 485px;
    }
/*WELCOME SLIDER*/

/*WELCOME STOP*/




/*VISITING START*/
.visiting {
    height: 1265px;
    background: #DBDBDB;
}

.title-with-line {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .title-with-line::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #710707;
    margin-top: 25px; 
  }

  .places-cards {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 75px 60px;
    margin-bottom: 75px;
  }

  .cards-hover:hover {
      opacity: .75;
  }

  .description-card {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  hr {
    background: #710707;
    border-radius: 0px;
    width: 300px;
    margin-bottom: 10px;
  }

  .virtual-overview {
      font-family: Roboto;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
  }

  .virtual-overview-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
/*VISITING STOP*/



/*EXPLORE START*/
#explore {
    background: #030303;
}

.explore-content {
    display: flex;
    gap: 60px
}

.text-about-explore {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
} 
  
.hide-tablet {
    display: block;
}

.show-tablet{
    display: none;
    padding-top: 60px;
}

.explore-pictures {
    padding-top: 90px;
    margin-bottom: 75px;
}
/*EXPLORE STOP*/



/*VIDEO START*/
.title-without-line {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.text-about-video {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.video-player {
    height: 735px;
    margin-bottom: 40px;
}

.video-slider {
    margin-bottom: 75px;
}

/*SLIDER*/
.slider {
    position: relative;
    gap: 20px;
}
.slider .slick-list {
    overflow: hidden;
}
.slider .slick-track {
    display: flex;
    gap: 40px;
}

.slider .slider-item {
    height: 254px;
}

.slider element.style {
    width: 400xp;
}

.slider .slick-arrow {
    position: absolute;
    /* top: 50%; */
    /* margin: -12px 0px 0px 0px; */
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 12px;
    border: 0;
    bottom: 0px;
}

.slider .slick-arrow.slick-prev {
    /* left: 0; */
    background: url("../слайдер ебаного музея/assets/svg/Vector\ \(Stroke\)\ p.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("../слайдер ебаного музея/assets/svg/Vector\ \(Stroke\)\ n.svg") 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 0px;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 20px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #999999;
    border: 0;
}

.slider .slick-dots li.slick-active button {
    background: #030303;
}
/*SLIDER*/

/*VIDEO STOP*/



/*GALLERY START*/
#gallery {
    background: #030303;
}

.picture-container {
    height: 2125px;
    overflow-y: hidden;
    position: relative;
}

.picture-inner-container {
    columns: 456px 3;
    column-gap: 36px;
}

.gallery-img {
    margin-bottom: 24px;
    display: block;
    width: 100%
}

.background {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    bottom: 0;
    width: 100%;
    height: 360px;
}
/*GALLERY STOP*/



/*TICKETS START*/
#tickets {
    margin-bottom: 75px;
}

.tickets-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.ticket-pic {
    width: 100%;
}

.img-type-ticket {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
}

.ticket-type {
    margin-left: 20px;
}

.inp-radio {
    margin-right: 28px;
}

.ticket-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

.age_qualification {
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}

.container-input-radio {
    margin-bottom: 25px;
    width: max-content;
}

.basic {
    margin-bottom: 10px;
}

.text-content {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}

.senior {
    margin-bottom: 56px;
}

.input-number {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid #000000
}

.input-number input[type="number"] {
    width: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000000;
  }

.input-number input[type="number"]::-webkit-outer-spin-button,
.input-number input[type="number"]::-webkit-inner-spin-button {
      display: none;
}

.number {
    width: 19px;
    border: 0;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .minus, .plus {
      font-size: 32px;
      color: black;
  }

  .ticket-buy-button {
    width: 175px;
    height: 50px;
    background: black;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
  }

  .text-content-title-tickets {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }

  .img-no-wrapper {
    background: url("./assets/img/picwithoutwrapp.jpg") no-repeat  center ; 
    height: 400px;
  }
/*TICKETS STOP*/


/*CONTACTS START*/
.contacts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.text-info {
    min-width: 295px;
}

.contacts-map {
    width: 960px;
    height: 620px;
}

.text-content-title-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
/*CONTACTS STOP*/


/*FOOTER START*/
.footer {
    background: #030303;
}

.footer-content {
    display: block;
}

.footer-container {
    display: flex;
}

.footer-nav {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 25px 150px;
    margin-left: 145px;
}

.busement-list {
    display: flex;
    gap: 25px;
    margin-left: 15px;
}

.busement-link:hover {
    opacity: .75;
}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
}

.footer-hr {
    height: 4px;
    width: 100%;
    background-color: #f50707;
}

.line {
    border-bottom: 1px solid #FFFFFF;
}

.divrap {
    padding-bottom: 50px;
}
/*FOOTER STOP*/

@media (max-width: 1481px) {
    /*VISITING*/
    .places-cards {
        gap: 75px 4%;
    }

    .cards-hover {
        width: 100%;
    }  

    .description-card {
        font-size: 25px;
        letter-spacing: 3px;
    }
    /*VISITING STOP*/


    /*EXPLORE*/
    .explore-img {
        width: 650px;
        height: 680px;
    }

    .explore-content {
        gap: 20px;
    }

    .text-content-title {
        font-size: 20px;
    }
    /*EXPLORE STOP*/

    /*FOOTER*/
    .footer-nav {
        gap: 25px 110px;
        margin-left: 100px;
    }
    /*FOOTER STOP*/
}

@media (max-width: 1024px) {
    /*HEADER*/
    .header {
        height: 130px;
    }

    .header-content {
        padding-top: 51px;
    }

    .header-container-nav {
        display: none;
    }
    /*HEADER STOP*/


    /*WELCOME*/
    #welcome {
        height: 585px;
    }

   /* .welcome-container {
        background-size: 700px 525px;
        max-height: 585px;
    }
*/
    .welcome-title-and-button {
        padding-top: 50px;
    }

    .welcome-title {
        font-size: 50px;
    }

    .welcome-subtitle {
        font-size: 24px;
    }

    .discover-button {
        width: 300px;
        height: 60px;
        font-size: 20px;
    }

    .welcome-slider {
        width: 700px;
        height: 585px;
    }

    .slider-in-welcome .slick-track {
        height: 525px
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-next {
        right: 75px;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-prev {
        right: 125px;
    }

     .slider-in-welcome .slick-dots {
        width: 700px;
    }

    .slider-in-welcome .slick-dots li {
        left: 340px;
    }

    .slider-in-welcome .slick-dots button {
        width: 12px;
        height: 12px;
    }

    .slid-pic {
        right: 453px;
    }

    .elem-stick {
        right: 438px;
    }

    .total-amount {
        right: 405px;
    }

   /* .slider-in-welcome .slick-list {
        left: 200px;
        width: 700px;
        height: 525px;
    }*/

    /*.slider-in-welcome .slick-dots {
        width: 700px;
        bottom: 61px;
        left: 250px;
    }*/

   /* .slider-in-welcome .slick-arrow {
        top: 12px;
    }*/
    /*WELCOME STOP*/


    /*BURGER*/
    .burger-menu {
        display: initial;
    }

    #menu-toggle {
        opacity: 0;
    }
    
    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 54px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
      /* добавляем "гамбургер" */
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }
    
    .menu-box {
        display: flex;
        position: absolute;
        visibility: hidden;
        top: 130px;
        left: -100%;
        width: 297px;
        height: 298px;
        flex-direction: column;
    }

    .menu-item {
        display: block;
        font-family: roboto-light;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        color: #FFFFFF; 
        margin-left: 55px;
    }

    .mennu-item:hover {
        opacity: 0.75px;
    }

    body > header > div > div > div.burger-menu > ul > li:nth-child(1) {
        padding-top: 35px;
    }

    body > header > div > div > div.burger-menu > ul > li:not(:first-child) {
        padding-top: 25px;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-box {
        visibility: visible;
        left: 0;
        z-index: 10;
    }
    /*BURGER STOP*/


    /*VISITING*/
    .places-cards {
        display: grid;
        justify-content: center;
        grid-template: repeat(3, 1fr) / repeat(2, 330px);
    }

    .title-with-line {
        font-size: 50px;
    }

    .description-card {
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }

    .virtual-overview {
        font-size: 18px;
        line-height: 21px;
    }

    .virtual-overview-subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    /*VISITING STOP*/


    /*EXPLORE*/
    .show-tablet{
        display: block;
    }

    .hide-tablet{
        display: none;
    }

    .explore-content{
        flex-direction: column;
    }

    .explore-pictures {
        justify-content: center;
        padding-top: 90px;
        margin-bottom: 75px;
        display: flex;
    }
    /*EXPLORE STOP*/
     

    /*VIDEO*/
    .video-player {
        height: 504px;
    }

    .title-without-line {
        font-size: 50px;
        line-height: 75px;
    }

    .text-about-video {
        display: none;
    }
    .heading-indent {
        padding-top: 60px;
    }

    .title-text {
        margin-bottom: 40px;
    }

    .video-slider {
        margin-bottom: 60px;
    }

    .slider .slider-item {
        height: 170px;
    }
    /*VIDEO STOP*/

    /*GLLAERY*/
    .picture-inner-container {
        columns: 303px 3;
    }
    /*GLLAERY STOP*/

    /*TICKETS*/
    #tickets {
        margin-bottom: 60px;
    }

    .ticket-type {
        display: none;
    }

    .ticket-amount {
        align-items: flex-start;
        margin-left: 80px;
    }

    .tickets-content {
        margin-bottom: 60px;
    }
    /*TICKETS STOP*/

    /*CONTACTS*/
    .text-content-title-contacts {
        font-size: 24px;
    }

    .contacts-map {
        width: 694px;
        height: 454px;
    }
    /*CONTACTS STOP*/

    /*FOOTER*/
    .footer-nav {
        margin-left: 45px;
    }
    /*FOOTER STOP*/
}

@media (max-width: 935px) {
    .footer-nav {
        gap: 25px 20px;
        margin-left: 20px;
    }

    .busement-list {
        gap: 12px;
    }
}

@media (max-width: 768px){

    .heading-indent {
        padding-top: 40px;
    }

    .marg-bt-50 {
        margin-bottom: 40px;
    }

    /*HEADER*/
    .header {
        height: 110px;
    }

    .header-content {
        padding-top: 40px;
    }

    .menu-btn {
        top: 42px;
    }
    /*HEADER STOP*/



    /*WELCOME*/
    #welcome {
        height: 861px;
    }

    .welcome-container {
        background-image: url(./assets/img/background1.jpg);
        background-size: 728px 546px;
    }

    .welcome-title-and-button {
        display: none;
    }

    .welcome-title-none-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .welcome-title {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    .welcome-subtitle {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 18px;
    }

    .welcome-slider {
       width: 95%;
       height: 646px;
       top: 214px;
    }

   /* .slider-in-welcome {
        margin: 0 0 0 -10px;
    }*/

    .slider-in-welcome .slick-track {
        height: 546px;
    }

    .slider-in-welcome .slick-list {
        padding: 0 !important;
    }

    .slider-in-welcome .slick-dots {
        width: 100%;
        height: 100px;
        justify-content: center;
        right: 277px;
    }

    .count {
        bottom: 25px;
    }

    .slid-pic {
        right: 75%;
    }

    .elem-stick {
        right: 72%;
    }

    .total-amount {
        right: 68%;
    }

    .slider-in-welcome .slick-dots li {
        left: 282px;
    }

    .slider-in-welcome .slick-arrow {
        bottom: 43px;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-next {
        right: 23%;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-prev {
        right: 29%;
    }
    /*WELCOME STOP*/

    .jopa {
        position: absolute;
        width: 100px;
        height: 10px;
        bottom: 100px;
        background: red;
        z-index: 9999;
        left: 0;

    }

    /*VIRTUAL*/
    .title-with-line {
        font-size: 40px;
        line-height: 60px;
    }

    .places-cards {
        grid-template: repeat(3, 1fr) / repeat(2, 280px);
    }

    .description-card {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 3px;
    }

    hr {
        width: 150px;
        height: 2px;
    }
    /*VIRTUAL STOP*/

    /*VIDEO*/
    .video-slider {
        margin-bottom: 81px;
    }

    .slider .slick-dots {
        padding: 21px 0px 0px 0px;
    }
    /*VIDEO STOP*/


    /*EXPLORE*/
    .text-about-explore {
        display: none;
    }

    .explore-content {
        gap: 40px;
    }

    .explore-pictures {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .explore-img {
        width: 100%;
        height: auto;
    }
    /*EXPLORE STOP*/



    /*VIDEO*/
    .video-player {
        height: 382px;
    }

    .slider .slider-item {
        height: 199px;
    }

    

    .title-without-line {
        font-size: 40;
        line-height: 60px;
    }
    /*VIDEO STOP*/



    /*GALLERY*/
    .picture-container {
        height: 1220px;
    }
    /*GALLERY STOP*/



    /*TICKETS*/
    #tickets {
        margin-bottom: 40px;
    }

    .tickets-content {
        margin-bottom: 60px;
    }

    .img-no-wrapper {
        height: 300px;
    }

    /*TICKETS STOP*/



    /*CONTACT*/
    .contacts-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 67px;
    }

    .contacts-map {
        width: 100%;
        height: 476px;
    }
    /*CONTACT*/



    /*FOOTER*/
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 638px;
        justify-content: space-between;
    }

    .footer-nav {
        gap: 25px 162px;
    }

    .busement-list {
        gap: 25px;
    }

    .nav-links {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2px;
    }

    .links {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 50px;
    }
    /*FOOTER STOP*/
}

@media  (max-width: 580px) {
    .places-cards {
        grid-template: repeat(1, 1fr) / repeat(1, 200px);
    }

    .tickets-content {
        display: flex;
        flex-direction: column;
    }

    .ticket-amount {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .img-type-ticket {
        display: flex;
        justify-content: space-between;
        max-width: 1050px;
        height: 180px;
    }

    .img-tickets-div {
        width: 100%;
    }

    .ticket-pic {
        width: 100%;
        height: 180px;
    }
}

@media  (max-width: 420px) {
    .header {
        height: 90px;
    }

    .menu-btn {
        top: 33px;
    }

    .icon-logo {
        height: 16px;
    }

    .text-logo {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 5px;
    }

    #welcome {
        height: 544px;
    }

    .welcome-title {
        font-size: 28px;
        line-height: 40px;
    }

    .welcome-subtitle {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
    }

    .welcome-slider {
        width: 90%;
        height: 365px;
        top: 167px;
    }

    .slick-slide.slick-active {
        width: 380px;
        height: 285px;
    }

    .slider-in-welcome .slick-dots {
        width: 380px;
        height: 80px;
        right: 280px;
        justify-content: center;
    }

    .slider-in-welcome .slick-dots button {
        width: 7px;
        height: 7px;
    }

    .slider-in-welcome .slick-dots li {
        margin: 0 10px 0 0;
    }

    .slider-in-welcome .slick-arrow {
        bottom: 30px;
        width: 20px;
    }

    .slider-in-welcome .slick-arrow.slick-arrow.slick-next {
        right: 20%;
    }

    .count {
        bottom: 13px;
    }

    .slid-pic {
        right: 76%;
    }

    .elem-stick {
        right: 74%;
    }

    .places-cards {
        grid-template: repeat(1, 1fr) / repeat(1, 280px);
    }

    #welcome > div > div.welcome-social-network > ul {
        gap: 5px;
    }

    .welcome-gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        height: 95px;
        top: 328px;
    }

    .welcome-gallery-item {
        object-fit: cover;
    }

    .welcome-social-network {
        top: 350px;
    }

    .menu-box {
        top: 88px;
    }

    /*VIDEO*/
    .video-player {
        height: 222px;
    }

    .video-slider {
        margin-bottom: 40px;
    }

    .slider .slick-dots {
        padding: 40px 0px 0px 0px;
    }
    /*VIDEO STOP*/

    /*TICKETS*/
   
    /*TICKETS STOP*/

    /*CONTACTS*/
    .contacts-map {
        height: 248px;
    }
    /*CONTACTS STOP*/



    /*FOOTER*/
    .footer-container-nav { 
        margin-top: 44px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .footer-nav {
        margin-left: 0;
    }

    .links {
        margin-top: 40px;
        justify-content: center;
        margin-left: 0;
    }

    .busement-list {
       margin-left: 0;
       gap: 5px;
    }

    body > footer > div:nth-child(1) > div > div > nav > ul > li:nth-child(2) > a, 
    body > footer > div:nth-child(1) > div > div > nav > ul > li:nth-child(4) > a,
    body > footer > div:nth-child(1) > div > div > nav > ul > li:nth-child(6) > a {
        display: flex;
        justify-content: flex-end;
    }

    .RollingSS {
        display: none;
    }
    /*FOOTER STOP*/
}

.hide {
    display: none;
}

.show {
    display: initial;
}