@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.ttf), 
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.woff),
            url(.//assets/fonts/forum-v11-latin/forum-v11-latin-regular.woff2);
  }

  @font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.ttf), 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.woff),
      
          url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-regular.woff2);
  }

  @font-face {
    font-family: 'roboto-light';
    font-style: normal;
    font-weight: normal;
    src: 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.ttf), 
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.woff),
            url(.//assets/fonts/roboto-v29-latin/roboto-v29-latin-300.woff2);
  }

  @font-face {
    font-family: 'forum-regular';
    font-style: normal;
    font-weight: normal;
    src: url(../museum/assets/fonts/Forum-Regular.ttf);
  }
 
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading-indent {
    padding-top: 75px;
  }

  .gold {
    color:#9D8665;
  }

  .white {
      color: #FFFFFF;
  }

.marg-bt-15 {
    margin-bottom: 15px;
}

.marg-bt-25 {
    margin-bottom: 25px;
}

.marg-bt-50 {
    margin-bottom: 50px;
}

.marg-bt-60 {
    margin-bottom: 60px;
}

.marg-bt-24 {
    margin-bottom: 24px;
}

.mrg-bt-75 {
    margin-bottom: 75px;
}

/*HEADER START*/
.header {
    min-height: 150px;
    background: #030303;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 59px;
}

.container-logo {
    display: flex;
    display: flex;
    gap: 21px;
}

.text-logo {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-logo:hover {
    opacity: .75;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.nav-links {
    font-family: roboto-light;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.nav-links:hover {
    opacity: .75;
}

.burger-menu {
    display: none;
}
/*HEADER STOP*/


/*WELCOME START*/
#welcome {
    background: #030303;
    /* min-height: 810px; */
}

.welcome-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(./assets/img/monaLisa.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 810px;
}

.welcome-title-and-button {
    padding-top: 150px;
}

.welcome-title-none-button {
    display: none;
}

.welcome-none {
    display: none;
}

.welcome-title {
    font-family: 'Forum';
    font-style: normal;
    font-weight: inherit;
    font-size: 80px;
    line-height: 90px;  
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-subtitle {
    font-family: roboto-light;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: none;
    padding-top: 25px;
    margin-bottom: 75px;
    color: #FFFFFF
}

.discover-button {
    width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    border: 0;
    font-family: roboto-light;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF
}

.discover-button:hover {
    opacity: .75;
}

.welcome-slider {
    position: absolute;
    width: 600px;
    height: 120px;
    right: 0px;
    bottom: 0px;
    background: #c22222;
}

.welcome-pictures {
    margin-left: auto;
}
/*WELCOME STOP*/



/*VISITING START*/
.visiting {
    height: 1265px;
    background: #DBDBDB;
}

.title-with-line {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .title-with-line::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #710707;
    margin-top: 25px; 
  }

  .places-cards {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 75px 60px;
    margin-bottom: 75px;
  }

  .cards-hover:hover {
      opacity: .75;
  }

  .description-card {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  hr {
    background: #710707;
    border-radius: 0px;
    width: 300px;
    margin-bottom: 10px;
  }

  .virtual-overview {
      font-family: Roboto;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
  }

  .virtual-overview-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
/*VISITING STOP*/



/*EXPLORE START*/
#explore {
    background: #030303;
}

.explore-content {
    display: flex;
    gap: 60px
}

.text-about-explore {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
} 
  
.hide-tablet {
    display: block;
}

.show-tablet{
    display: none;
    padding-top: 60px;
}

.explore-pictures {
    padding-top: 90px;
    margin-bottom: 75px;
}
/*EXPLORE STOP*/



/*VIDEO START*/
.title-without-line {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.text-about-video {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.video-player {
    margin-bottom: 40px;
}

.video-slider {

}

/*SLIDER*/
.slider {
    position: relative;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}

#video > div > div.video-slider > div > div > div > div.slider-item.slick-slide.slick-current.slick-active {
    margin-bottom: 40px;
}

#video > div > div.video-slider > div > button.slick-next.slick-arrow {
    margin-bottom: 75px;
}
/*SLIDER*/

/*VIDEO STOP*/



/*GALLERY START*/
#gallery {
    background: #030303;
}

.picture-container {
    height: 2125px;
    overflow-y: hidden;
    position: relative;
}

.picture-inner-container {
    columns: 456px 3;
    column-gap: 36px;
}

.gallery-img {
    margin-bottom: 24px;
    display: block;
    width: 100%
}

.background {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    bottom: 0;
    width: 100%;
    height: 360px;
}

/* .gallery-pictures {
    position: relative;
    display: flex;
    gap: 36px;
}

.left-section-gallery {
    display: block;
    gap: 24px;
    padding-top: 50px;
    width: 33.33%;
}

.mid-section-gallery {
    display: block;
    gap: 24px;
    width: 33.33%;
}

.right-section-gallery {
    display: block;
    gap: 24px;
    padding-top: 50px;
    width: 33.33%;
}

.gallery-pic {
    width: 100%;
}

.magr-bt-24 {
    margin-bottom: 24px;
}

.background {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    bottom: 0;
    width: 100%;
    height: 360px;
} */
/*GALLERY STOP*/



/*TICKETS START*/
#tickets {
    margin-bottom: 75px;
}

.tickets-content {
    display: flex;
    justify-content: space-between;
}

.ticket-pic {
    width: 100%;
}

.img-type-ticket {
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

.ticket-type {
    margin-left: 20px;
}

.inp-radio {
    margin-right: 28px;
}

/* .text-content-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
} */

.ticket-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

.age_qualification {
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}

.container-input-radio {
    margin-bottom: 25px;
    width: max-content;
}

.basic {
    margin-bottom: 10px;
}

.text-content {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}

.senior {
    margin-bottom: 56px;
}

.input-number {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid #000000
}

.input-number input[type="number"] {
    width: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000000;
  }
   .input-number input[type="number"]::-webkit-outer-spin-button,
  .input-number input[type="number"]::-webkit-inner-spin-button {
      display: none;
  }

.number {
    width: 19px;
    border: 0;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .minus, .plus {
      font-size: 32px;
      color: black;
  }

  .ticket-buy-button {
    width: 175px;
    height: 50px;
    background: black;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
  }

  .img-no-wrapper {
      width: 100%;
      height: 400px;
  }

  .text-content-title-tickets {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }
/*TICKETS STOP*/


/*CONTACTS START*/
.contacts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.text-info {
    min-width: 295px;
}

.contacts-map {
    width: 960px;
    height: 620px;
}

.text-content-title-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
/*CONTACTS STOP*/


/*FOOTER START*/
.footer {
    background: #030303;
}

.footer-content {
    display: block;
}

.footer-container {
    display: flex;
}

.footer-nav {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 25px 150px;
    margin-left: 145px;
}

.busement-list {
    display: flex;
    gap: 25px;
    margin-left: 15px;
}

.busement-link:hover {
    opacity: .75;
}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
}

.footer-hr {
    height: 4px;
    width: 100%;
    background-color: #f50707;
}

.line {
    border-bottom: 1px solid #FFFFFF;
}

.divrap {
    padding-bottom: 50px;
}
/*FOOTER STOP*/

@media (max-width: 1481px) {
    /*VISITING*/
    .places-cards {
        gap: 75px 4%;
    }

    .cards-hover {
        width: 100%;
    }  

    .description-card {
        font-size: 25px;
        letter-spacing: 3px;
    }
    /*VISITING STOP*/


    /*EXPLORE*/
    .explore-img {
        width: 650px;
        height: 680px;
    }

    .explore-content {
        gap: 20px;
    }

    .text-content-title {
        font-size: 20px;
    }
    /*EXPLORE STOP*/

    /*FOOTER*/
    .footer-nav {
        gap: 25px 110px;
        margin-left: 100px;
    }
    /*FOOTER STOP*/
}

@media (max-width: 1024px) {
    /*HEADER*/
    .header {
        min-height: 130px;
    }

    .header-content {
        padding-top: 51px;
    }

    .header-container-nav {
        display: none;
    }
    /*HEADER STOP*/


    /*WELCOME*/
    .welcome-container {
        background-size: 700px 525px;
        max-height: 585px;
    }

    .welcome-title-and-button {
        padding-top: 50px;
    }

    .welcome-title {
        font-size: 50px;
    }

    .welcome-subtitle {
        font-size: 24px;
    }

    .discover-button {
        width: 300px;
        height: 60px;
        font-size: 20px;
    }

    .welcome-slider {
        min-width: 700px
    }
    /*WELCOME STOP*/


    /*BURGER*/
    .burger-menu {
        display: initial;
    }

    #menu-toggle {
        opacity: 0;
    }
    
    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 52px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
      /* добавляем "гамбургер" */
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }
    
    .menu-box {
        display: flex;
        position: absolute;
        visibility: hidden;
        top: 130px;
        left: -100%;
        width: 297px;
        height: 585px;
        flex-direction: column;
    }

    .menu-item {
        display: block;
        font-family: roboto-light;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        color: #FFFFFF; 
        margin-left: 55px;
    }

    .mennu-item:hover {
        opacity: 0.75px;
    }

    body > header > div > div > div.burger-menu > ul > li:nth-child(1) {
        padding-top: 35px;
    }

    body > header > div > div > div.burger-menu > ul > li:not(:first-child) {
        padding-top: 25px;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-box {
        visibility: visible;
        left: 0;
        z-index: 10;
    }
    /*BURGER STOP*/


    /*VISITING*/
    .places-cards {
        display: grid;
        justify-content: center;
        grid-template: repeat(3, 1fr) / repeat(2, 330px);
    }

    .title-with-line {
        font-size: 50px;
    }

    .description-card {
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }

    .virtual-overview {
        font-size: 18px;
        line-height: 21px;
    }

    .virtual-overview-subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    /*VISITING STOP*/


    /*EXPLORE*/
    .show-tablet{
        display: block;
    }

    .hide-tablet{
        display: none;
    }

    .explore-content{
        flex-direction: column;
    }

    .explore-pictures {
        justify-content: center;
        padding-top: 90px;
        margin-bottom: 75px;
        display: flex;
    }
    /*EXPLORE STOP*/
     

    /*VIDEO*/
    .title-without-line {
        font-size: 50px;
        line-height: 75px;
    }

    .text-about-video {
        display: none;
    }
    .heading-indent {
        padding-top: 60px;
    }

    .title-text {
        margin-bottom: 40px;
    }
    /*VIDEO STOP*/

    /*GLLAERY*/
    .picture-inner-container {
        columns: 303px 3;
    }
    /*GLLAERY STOP*/

    /*TICKETS*/
    .ticket-type {
        display: none;
    }

    .ticket-amount {
        align-items: flex-start;
        margin-left: 80px;
    }
    /*TICKETS STOP*/

    /*CONTACTS*/
    .text-content-title-contacts {
        font-size: 24px;
    }

    .contacts-map {
        width: 694px;
        height: 454px;
    }
    /*CONTACTS STOP*/

    /*FOOTER*/
    .footer-nav {
        margin-left: 45px;
    }
    /*FOOTER STOP*/
}

@media (max-width: 935px) {
    .footer-nav {
        gap: 25px 20px;
        margin-left: 20px;
    }

    .busement-list {
        gap: 12px;
    }
}

@media (max-width: 768px){

    .heading-indent {
        padding-top: 40px;
    }

    /*HEADER*/
    .header {
        min-height: 110px;
    }

    .header-content {
        padding-top: 40px;
    }

    .menu-btn {
        top: 42px;
    }
    /*HEADER STOP*/



    /*WELCOME*/
    #welcome {
        height: 861px;
    }

    .welcome-container {
        background-image: url(./assets/img/background1.jpg);
        background-size: 728px 546px;
    }

    .welcome-title-and-button {
        display: none;
    }

    .welcome-title-none-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .welcome-title {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }

    .welcome-subtitle {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }

    .welcome-slider {
        height: 87px;
        width: 100%;
        bottom: -47px;
        min-width: 0;
    }
    /*WELCOME STOP*/

    /*VIRTUAL*/

    .title-with-line {
        font-size: 40px;
        line-height: 60px;
    }

    .places-cards {
        grid-template: repeat(3, 1fr) / repeat(2, 280px);
    }

    .description-card {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 3px;
    }

    hr {
        width: 150px;
        height: 2px;
    }
    /*VIRTUAL STOP*/

    /*EXPLORE*/
    .text-about-explore {
        display: none;
    }

    .explore-content {
        gap: 40px;
    }

    .explore-pictures {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .explore-img {
        width: 100%;
        height: auto;
    }
    /*EXPLORE STOP*/

    /*VIDEO*/
    .title-without-line {
        font-size: 40;
        line-height: 60px;
    }
    /*VIDEO STOP*/


    /*GALLERY*/
    .picture-container {
        height: 1220px;
    }
    /*GALLERY STOP*/



    .marg-bt-50 {
        margin-bottom: 40px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        width: 638px;
        justify-content: space-between;
    }

    .footer-nav {
        gap: 25px 162px;
    }

    .busement-list {
        gap: 25px;
    }

    .nav-links {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2px;
    }

    .links {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 50px;
    }
}

 /* @media (max-width: 1450px){
    .places-cards {
        display: grid;
        justify-content: center;
        grid-template: repeat(3, 1fr) / repeat(2, 330px);
    }

    .cards-hover {
        width: 100%;
    }  
} */

/* @media (max-width: 1290px){
    .ticket-type {
        display: none;
    }

} */

 /* @media (max-width: 1024px){
    .header-container-nav {
        display: none;
    }

    .show-tablet{
        display: block;
    }

    .hide-tablet{
        display: none;
    }

    .explore-content{
        flex-direction: column;
    }

    .explore-pictures {
        justify-content: center;
        padding-top: 90px;
        margin-bottom: 75px;
        display: flex;
    }

    .text-about-video {
        display: none;
    }

    .tickets-content {
        gap: 40px;
    }

    .ticket-type {
        display: none;
    }

    .ticket-amount {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts-content {
        gap: 16px;
    }

    .contacts-map {
        width: 100%;
        min-height: 454px;
    }

    .footer-nav {
        margin-left: 30px;
        margin-right: 30px;
        gap: 25px 50px;
    }
}  */

